* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding:5px 0;
	background-color: #fab804;
}
.medsos ul li {
	display: inline-block;
	color: rgb(0, 0, 0);
	margin-right: 10px;
}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding:15px 0;
	color: #fab804;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
	transition: 0.5s;
}
header ul li a:hover {
	background-color: #fab804;
	color: #fff;
	transform: scale(0.98);
}
.active {
	background-color: #fab804;
	color: rgb(2, 2, 2);
}
.banner {
	height: 125vh;
	background-image: url(../banner.jpg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
}
.banner h2 {
	color: #fab804;
	z-index: 1;
	padding: 20px 25px;
	border:3px solid #fab804;
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color:#fab804;
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color: #fab804;
	margin-bottom: 25px;
}
.about,
.service {
	padding-bottom: 100px;
}
.about p {
	color:#666;
	word-spacing: 2px;
	line-height: 25px;
}
.service {
	background-color: #000000;
}
.box {
	color:#fab804;
}
.box:after {
	content: '';
	display: block;
	clear: both;

}
.box .col-4 {
	width: 25%;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.box .col-7 {
	width: 14%;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
}
.box .col-4 h4 {
	margin:20px 0;
}
.box .col-7 h4 {
	margin:25px 0;
}
footer {
	padding:30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.bg-loader {
	background-color: rgb(2, 2, 2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-radius: 50%;
	border-top-color: #fab804;
	border-right-color: #fab804;
	border-bottom-color: #fab804;
	animation: puterin .5s linear infinite
}
.label {
	background-color: #fab804;
	color: rgb(0, 0, 0);
}
.gambargerak {
	margin: 100px;
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}

body {margin:0; font-family: sans-serif;}

.gambar {width: 90%; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr}

.gambar .foto img{width: 315px;}

.foto {border:1px black; margin:10px; text-align: center;}

.foto a:hover {
	background-color: #fab804;
	color: rgb(0, 0, 0);
}

.foto a{border:1px solid green; padding:10px; color: rgb(0, 0, 0); background: #00C403;  text-decoration: none; border-radius: 20px; cursor: pointer;}

.foto {border: 1px solid #fab804; margin:10px;}

.foto p {
	color:#FF7476;
}

.foto h2 {
	color:#505050 ;
}

.rekomendasi {
	text-align: center;
	color: #fab804;
	margin-bottom: 25px;
}
.rekomendasi h3{padding:4px; color: rgb(0, 0, 0); background: #fab804;  text-decoration: none; cursor: pointer;}

.kategori {
	padding-bottom: 1px;
}

.kategori {
	background-color: #000000;
}
.info {
	text-align: center;
	color: #000000;
	padding: 176px;
}
.info h3 a{
color: #767676 ;
}

.sign {
	width: 300px;
	padding: 20px;
	text-align: center;
	background-color: #fab804;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
.sign h1{
	margin-top: 100px;
	font-family: 'Permanent Marker', cursive;
	color: rgb(3, 3, 3);
	font-size: 40px;
}
.sign input{
	display: block;
	width: 100%;
	padding: 0 16px;
	height: 44px;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family: "monstserrat",sans-serif;
}
.txtb{
	margin: 20px 0;
	background: rgba(255,255,255,.5);
	border-radius: 6px;
}
.signup{
	margin-top: 60px;
	margin-bottom: 20px;
	background-color: #fab804;
	color: rgb(0, 0, 0);
	border-radius: 44px;
	cursor: pointer;
	transition: 0.8s;
}
.signup:hover{
	transform: scale(0.96);
}
.sign a{
	text-decoration: none;
	color:rgb(5, 5, 5);
	font-family: "monstserrat", sans-serif;
	font-size: 14px;
	padding: 10px;
	transition: 0.8s;
	display: block;
}
.sign a:hover{
	background: rgba(0,0,0,.3);
}